<p id="notice"><%= notice %></p>

<p><strong>id:</strong> <%= @actor.id %></p>
<p><strong>x:</strong> <%= @actor.x %></p>
<p><strong>y:</strong> <%= @actor.y %></p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
