<h1>Listing turns for Game <%= @game.id%> </h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.order('sequence').each do |turn| %>
      <tr>
        <td><%= turn.sequence %></td>
        <td><%= link_to 'Show', [@game, turn] %></td>
        <td><%= link_to 'Edit', edit_game_turn_path(@game, turn) %></td>
        <td><%= link_to 'Destroy', [@game, turn], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn', new_game_turn_path %>
<%= link_to 'Back', @game %>
