<%= form_for(@game_action) do |f| %>
  <% if @game_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_action.errors.count, "error") %> prohibited this game_action from being saved:</h2>

      <ul>
      <% @game_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :turn_id %><br />
    <%= f.select :turn_id, Turn.find(:all).order('sequence').map{ |t| [t.sequence, t.id]}  %>
  </div>

  <div class="field">
    <%= f.label :moveto_x %><br>
    <%= f.text_field :moveto_x %>
  </div>

  <div class="field">
    <%= f.label :moveto_y %><br>
    <%= f.text_field :moveto_y %>
  </div>

  <div class="field">
    <%= f.label :actor_id %><br>
    <%= f.select :actor_id, Actor.find(:all).map{ |a| [a.id, a.id] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
