<h1>Listing game_actions</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Current position</th>
      <th>Destination</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_actions.each do |game_action| %>
      <tr>
        <% actor = Actor.find(game_action.actor_id) %>
        <td><%= link_to actor.id, actor %></td>
        <td>(<%= actor.x %>, <%= actor.y %>)</td>
        <td>(<%= game_action.moveto_x %>, <%= game_action.moveto_y %>)</td>
        <td><%= link_to 'Show', game_action %></td>
        <td><%= link_to 'Edit', edit_game_action_path(game_action) %></td>
        <td><%= link_to 'Destroy', game_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game action', new_game_action_path %>
