<p id="notice"><%= notice %></p>

<p><strong>Actor:</strong> <%= @game_action.actor_id %></p>
<p><strong>Destination (x,y):</strong> (<%= @game_action.moveto_x %>, 
<%= @game_action.moveto_y %>)</p>

<%= link_to 'Edit', edit_game_action_path(@game_action) %> |
<%= link_to 'Back', game_actions_path %>
