<p id="notice"><%= notice %></p>

<p>
  <h4>Players:</h4>
  <ul>
    <% @game.players.each do |player| %>
    <li>
      <%= link_to player.name, game_player_path(@game.id, player.id) %>
    </li>
    <% end %>
  </ul>
</p>
<p>
  <h4>Current turn:</h4>
  <%= @game.current_turn %>
</p>

<p>
  <h4>Terrain:</h4>
  <pre><%= @game.terrain %></pre>
</p>
<p>
  <h4>Turns:</h4>
    <% @game.turns.order('sequence').each do |turn| %>
    <%= link_to turn.sequence, game_turn_path(@game.id, turn.id) %>, 
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
